.card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.card-bloco{
    width: 30%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    background: rgba(0,0,0,0.1);
    border-radius: 10px;

}

.card-bloco h4{
    text-align: center;
    width: 30%;
}